@using EasyMarket.Models;

<div>
@model List<EasyMarket.Models.ItemInfo>
@foreach (ItemInfo item in Model)
{
    @item.Item.name
    <img src="@item.Images.FirstOrDefault().image1" />
    foreach (Size size in item.Sizes)
    { 
        @size.size1
    }

}

</div>