@{
    ViewBag.Title = "Home Page";
}
<div class="box1">
    <div class="slider">
    </div>
    <div class="banner">
        <img src="../images/img1.jpg" />
    </div>
    <div class="banner">
        <img src="../images/img2.jpg" />
    </div>
    <br>
    <div class="banner">
        <img src="../images/img3.jpg" />
    </div>
    <div class="banner">
        <img src="../images/img4.jpg" />
    </div>
</div>
<div class="category1">
    1
</div>
<div class="category2">
    1
</div>

<style>
    .odd {
        background-color: #18c82c;
    }
</style>

<h2 style="margin-left: 50px">Пример использования <b style="color: #18c82c">jQuery</b></h2>

<table border="1" style="width: 300px; margin-top: 100px; margin-left: 100px">
    <tr><td>1</td><td>четная строка</td></tr>
    <tr><td>2</td><td>нечетная строка</td></tr>
    <tr><td>3</td><td>четная строка</td></tr>
    <tr><td>4</td><td>нечетная строка</td></tr>
    <tr><td>5</td><td>четная строка</td></tr>
    <tr><td>6</td><td>нечетная строка</td></tr>
</table>

<script>

    var tables = document.getElementsByTagName("table");
    for (var t = 0; t < tables.length; t++) {
        var rows = tables[t].getElementsByTagName("tr");
        for (var i = 1; i < rows.length; i += 2)
            if (!/(^|s)odd(s|$)/.test(rows[i].className))
                rows[i].className += " odd";
    }

</script>