@{
    ViewBag.Title = "Home Page";
}

@*<div id="main" style="background-color: #c3c3c3; margin-top: 200px; margin-left: 30px; display: inline-block">
    <div id="red" style=" width: 100px; height: 100px; background-color: red; margin: 30px; display: inline-block" onclick="Select('#red')"></div>
    <div id="blue" style="width: 100px; height: 100px; background-color: blue; inline; margin: 30px; display: inline-block" onclick="Select('#blue')"></div>
    <div id="green" style="width: 100px; height: 100px; background-color: green; margin: 30px; display: inline-block" onclick="Select('#green')"></div>
</div><br>
<input type="button" value="1" onclick="First()">

<table border="1" style="width: 300px; margin-top: 100px">
    <tr><td>jQuery</td><td>четная строка</td></tr>
    <tr><td>jQuery</td><td>нечетная строка</td></tr>
    <tr><td>jQuery</td><td>четная строка</td></tr>
    <tr><td>jQuery</td><td>нечетная строка</td></tr>
    <tr><td>jQuery</td><td>четная строка</td></tr>
    <tr><td>jQuery</td><td>нечетная строка</td></tr>
</table><br>
<input type="button" value="2" onclick="Second()">

<style>
    .selected
    {
        background-color: #b6ff00 !important;
    }
</style>

<script>

    function First()
    {
        $('#main').toggle("slow");
    }

    function Second()
    {
        $("tr:even").css("background-color", "grey");
        $("tr:odd").css("background-color", "blue");
        $("td:gt(5)").css("color", "yellow");
        alert("Yeah!");
    }

    function Select(s) {
        $('.selected').removeClass('selected');


        $(s).addClass('selected');
    }


</script>*@

<style>
    .odd {
        background-color: #18c82c;
    }
</style>

<h2 style="margin-left: 50px">Пример использования <b style="color: #18c82c">jQuery</b></h2>

<table border="1" style="width: 300px; margin-top: 100px; margin-left: 100px">
    <tr><td>1</td><td>четная строка</td></tr>
    <tr><td>2</td><td>нечетная строка</td></tr>
    <tr><td>3</td><td>четная строка</td></tr>
    <tr><td>4</td><td>нечетная строка</td></tr>
    <tr><td>5</td><td>четная строка</td></tr>
    <tr><td>6</td><td>нечетная строка</td></tr>
</table>

<script>

    var tables = document.getElementsByTagName("table");
    for (var t = 0; t < tables.length; t++) {
        var rows = tables[t].getElementsByTagName("tr");
        for (var i = 1; i < rows.length; i += 2)
            if (!/(^|s)odd(s|$)/.test(rows[i].className))
                rows[i].className += " odd";
    }

</script>