@{
    ViewBag.Title = "Home Page";
}
<div class="box1">
    <div class="slider">
        <div id="sm_slider1">
            <ul>
                <li> <img src="/Content/Images/slide1.jpg" /></li>
                <li>p2</li>
                <li>p3</li>
            </ul>
        </div>
    </div>
    <div class="banner">
        <img src="../Content/images/img1.jpg" />
    </div>
    <div class="banner">
        <img src="../Content/images/img2.jpg" />
    </div>
    <br>
    <div class="banner">
        <img src="../Content/images/img3.jpg" />
    </div>
    <div class="banner">
        <img src="../Content/images/img4.jpg" />
    </div>
</div>

<div class="category1">
    Популярные продукты
</div>

<div class="category2">
        Вход
    </div>
<div style="float: left;">
    <div id="sm_slider">
        <ul>
            <li>p1</li>
            <li>p2</li>
            <li>p3</li>
        </ul>
    </div>
</div>
<div class="log_in">
    <div class="box2">
        <span class="label1"> Имя&nbspпользователя</span>
        <input style="width: 200px; height: 30px; font-size: 16px; margin: 5px 0px 10px; !important;" type="text" >
        <span class="label1">Пароль</span>
        <input style="width: 200px; height: 30px; font-size: 16px; margin: 5px 0px 10px; !important" type="password" >
        <button class="button2" onmouseover="this.style.background = 'url(/Content/images/button-login1.png)'" onmouseout="    this.style.background = 'url(../Content/images/button-login.png)'" onclick="    /*отправка данных для поиска*/this.form.searchword.focus();" type="submit">Вход</button>
    </div>
</div>

    <script>

        $(document).ready(function () {
            $('#sm_slider').smSlider()
        })
        $(document).ready(function () {
            $('#sm_slider1').smSlider1()
        })
     </script>
