
@{
    ViewBag.Title = "Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Items</h2>

@foreach (var p in Model)
{
    @*<div class="item">
        <h3>@p.name</h3>
        @p.description
        <h4>@p.prise грн.</h4>
    </div>*@
    @*@p.image*@
    <img src= "" />


}