@using EasyMarket.Models;

@{
    ViewBag.Title = "Футболки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<EasyMarket.Models.Item>
<div class="category4"> @ViewBag.Title</div>
@Html.Partial("GoodsPartial")

